@use '../style-defaultl/header';
@use '../style-defaultl/valiable';
@use '../style-defaultl/footer';

#service {
    .cat-title {
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        padding: 0px 40px 30px 40px;

        span {
            display: inline-block;
            position: relative;
            padding: 15px 0px;
            max-width: 500px;

            &::after {
                width: 240px;
                height: 2px;
                background-color: #EBD7A9;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
            }
        }
    }
    .container {
        border-bottom: 1px dashed #EBD7A9;
        padding: 30px 0;
    }
    .wrap {
        .service-thumbnail {
            border-radius: 10px;
            overflow: hidden;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            min-height: 300px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            img {
                object-fit: fill;
                width: 100%;
            }

        }
        .service-content {
            width: 90%;
            margin: 0 auto;
            padding-top: 20px;
            text-align: center;
            h3 {
                font-size: 18px;
                white-space: normal;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            a {
                text-decoration: none;
                color: #000;
                &:hover {
                    color: #EBD7A9;
                }
                span {
                    font-size: 16px;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
#module-category {
    .container {
        border-bottom: 1px dashed #EBD7A9;
        padding: 30px 0;
    }
    .home-category {
        .cat-title {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            padding:0px 40px 70px 40px;
            span {
                display: inline-block;
                position: relative;
                padding: 15px 0px;
                &::after {
                    width: 170px;
                    height: 2px;
                    background-color: #EBD7A9;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "";
                }
            }
        }
        .cat-item {
            position: relative;
            margin-bottom: 16px;
            border-top-right-radius: 50px;
            overflow: hidden;
            border-bottom-left-radius: 50px;
            a {
                text-decoration: none;
                color: rgb(34, 34, 34);
                img {
                    vertical-align: middle;
                    border-style: none;
                    max-width: 100%;
                    width: 100%;
                }
            }
            .info {
                position: absolute;
                bottom: 0px;
                padding: 30px;
                .title {
                    a {
                        display: inline-block;
                        font-size: 22px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        color: rgb(255, 255, 255);
                    }
                }
                .more a{
                    padding: 2px 15px;
                    display: inline-block;
                    border: 1px solid rgb(255, 255, 255);
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                }
            }
        }
    }
}
#question {
    .container {
        border-bottom: 1px dashed #EBD7A9;
        padding: 30px 0;
    }
    padding-top: 40px;
    .question-list {
        z-index: 8;
        position: sticky;
        .cat-title {
            text-align: center;
            font-size: 26px;
            text-transform: uppercase;
            padding: 0px 40px 70px 40px;
            span {
                display: inline-block;
                position: relative;
                padding: 15px 0px;
                max-width: 500px;
    
                &::after {
                    width: 240px;
                    height: 2px;
                    background-color: #EBD7A9;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "";
                }
            }
        }
        .cat-item {
        transform: translateX(25px);
            padding: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 15px;
            .wrap {
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
                overflow: hidden;
                .cat-img {
                    img {
                        width: 100%;
                    }
                }
                .cat-info {
                    bottom:0;
                    background-color: rgba(235, 215, 169,0.8);
                    text-align: center;
                    padding: 12px;
                    h4 {
                        font-size: 13px;
                        line-height: 16px;
                        color: #fff;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .question-logo {
        transform: translateX(-25px);
        border-radius: 15px;
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        img {
            transform: scale(1.05);
            transition: transform linear 0.3s;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}

#book {
    margin-top: 30px;
    background-image: url('../../images/bg-form.jpg');
    padding-bottom: 30px;
    margin-bottom: 30px;
    .book-title {
        height: 28px;
        border-bottom: 2px solid #EBD7A9; 
        margin-bottom: 15px;
        position: relative;
        span {
            position: absolute;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-transform: uppercase;
            font-size:30px;
            top: 0px;
            background: rgb(255, 255, 255);
            padding: 0px 3px 0px 0px;
        }
    }
    .book-group {
        padding-top: 40px;
        .note {
            width: 50%;
            padding-right: 20px;
            .note-header {
                padding-bottom: 10px;
                padding-top: 20px;
                border-bottom: 2px solid #EBD7A9;
                h3 {
                    color: #ecc978;
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            .note-content {
                ul {
                    padding-left: 15px;
                    li {
                        padding: 20px 0;
                        line-height: 1.5rem;
                        text-align: left;
                        span {
                        }
                    &::before {
                        content: "\2022";
                        color: #EBD7A9;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                    }
                    }
                }
            }
        }
        .book-form {
            width: 50%;
            background-color: #fff;
            border-radius: 15px;
            text-align: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .book-form-title {
                padding-bottom: 20px;
                padding-top: 30px;
                h3 {
                    color: #EBD7A9;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .book-form-input {
                padding: 10px 100px;
                .group {
                    padding: 10px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    label {
                        padding-bottom: 5px;
                        span {
                            color: #ff0000;
                        }
                    }
                    input,textarea {
                        width: 100%;
                        outline: none;
                        padding: 10px 8px;
                        font-size: 14px;
                        border-radius: 10px;
                        border: 1px solid #e0e0e0;
                        padding: 12px 10px;
                        border-radius: 7px;
                        background: #fbfbfb;
                    }
                    input[type="datetime-local"] {
                        &::-webkit-datetime-edit {
                            color:#b2b0b0;
                        }
                    }
                }
                input[type="submit"] {
                    display: block;
                    margin: 20px auto;
                    background-color: #EBD7A9;
                    color: #fff;
                    padding: 10px 30px;
                    border-radius: 24px;
                    text-transform: uppercase;
                    border: 1px solid #e0e0e0;
                }
            }
        }

    }
}

#feedback {
    border-top: 1px dashed #ebd7a9;
    background-color: rgb(255, 251, 241);
    .feedbackSwiper {
        padding-top: 40px;
        padding-bottom: 40px;
        .swiper-pagination-bullet-active {
            background-color: #EBD7A9;
        }
    }
    .cat-title {
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        padding: 0px 40px 30px 40px;

        span {
            display: inline-block;
            position: relative;
            padding: 15px 0px;
            max-width: 500px;

            &::after {
                width: 240px;
                height: 2px;
                background-color: #EBD7A9;
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
            }
        }
    }
    .list-feedback {
        .swiper-slide {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 0 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        margin-bottom: 20px;
        .avatar {
            border-radius: 50%;
            overflow: hidden;
            text-align: center;
            margin: 0 auto;
            width: 150px;
            height: 150px;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .content {
            text-align: center;
            .rate {
                i {
                    color: #efef01;
                }
            }
            .comment-feedback { 
                p {
                    font-size: 14px;
                }
            }
            .name-client {

            }
        }
    }
}