#header {
    --height-header: 120px;
    .header-top {
            height: var(--height-header);
            z-index: 99;
            width: 100%;
            background-color: rgb(255, 255, 255);
        .logo {
            height: var(--height-header);
            display: flex;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
        .slogan {
            background-color: #C5B39C;
            padding: 8px 20px;
            i {
                color: #EBD7A9;
                font-size: 18px;
            }
        }

    }
}