@use '../style-defaultl/category';

#header {
    --height-header: 60px;
    .header-top {
            height: var(--height-header);
            z-index: 99;
            width: 100%;
            background-color: rgb(255, 255, 255);
            margin: 10px 0;
        .logo {
            height: var(--height-header);
            display: flex;
            margin-right: 40px;
            img {
                width: 100%;
            }
        }
        .slogan {
            i {
                font-family: 'Lato', sans-serif;
                font-family: 'Noto Sans Limbu', sans-serif;
                font-family: 'Roboto Condensed', sans-serif;
                color: #EBD7A9;
                font-size: 28px;
            }
        }
        .action {
            display: flex;
            align-items: center;
            .dropdown {
                i {
                    font-size: 22px;
                    margin-right: 40px;
                    color: #666;
                    font-weight: 900;
                }
                .dropdown-menu {
                    inset: 0px 50px auto auto !important;
                    transform: translate3d(
                        -30px, -15px, 0px) !important;
                    border: none;
                    input {
                        height: 34px;
                        outline: none;
                        min-width: 320px;
                        padding: 4px 8px;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: rgb(73, 80, 87);
                        background-color: rgb(255, 255, 255);
                        background-clip: padding-box;
                        border: 1px solid rgb(206, 212, 218);
                        border-radius: 0.25rem;
                    }
                }
            }
            .shopping-cart {
                position: relative;
                color:#000;
                i {
                    font-size: 22px
                }
                &::after {
                    content: "0";
                    display: block;
                    position: absolute;
                    top: -14px;right: -14px;
                    background-color: #999;
                    padding:0 7px;
                    font-size: 13px;
                    border-radius: 50%;
                    
                }
            }
        }

    }
}